body {
background-color: red;
margin: 5% ;
font-family: "fantasy;";
width: 90%;
 }
 img {
 	width: 50%;
 }
 h2 {
 	font-family: "play";
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F34F2B ;
  }

li {
 	float: left;

 }

 li a {
 	display: block;
 	color: black;
 	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none ;
 }

 li a: hover {
    background-color: #111 ;
   
 }
 .titulos{
    font-size: 40px;
    text-align: center;
    padding: 10px 0px;
}
.parrafos{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
font-family: monospace;

}
 
 .tituloss{
    font-size: 40px;
    text-align: left;
    padding: 10px 0px;



